body { margin:0; padding:0; }

.mapContainer{
width:100%;
height:600px;
}

#map { position:absolute; top:50px; bottom:0; width:100%; height:650px }

#marker {
  background-image: url('../js/marker.svg');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup {
    max-width: 200px;
}


#sonde .button {
    font-size: 13px;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    letter-spacing: .03em;
    color: #fff;
    background-color: #aaa;
    box-sizing: border-box;
    height: 32px;
    line-height: 32px;
    padding: 0 18px;
    display: inline-block;
    margin: 0;
    transition: all 0.23s ease-in-out 0s;
}

#sonde .button:hover {
background-color:#343a40;
cursor:pointer;
}


#mc_embed_signup{
background:#fff; 
clear:left; 
width:100%;
text-align: center;
padding: 10px 0 10px 0;
}

.button: hover{
opacity:75%;
}


.dataTreeMain{
margin-top:100px;
}

#mc_embed_signup label {
    display: block;
    font-size: 16px;
    padding-bottom: 10px;
    font-weight: bold;
}

#mc_embed_signup input.email {
    font-size: 15px;
    border: 1px solid #ABB0B2;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #343434;
    background-color: #fff;
    box-sizing: border-box;
    height: 32px;
    padding: 0px 0.4em;
    display: inline-block;
    margin: 0;
    width: 350px;
    vertical-align: top;
}

#mc_embed_signup .clear {
    display: inline-block;
}

#mc_embed_signup .button {
    font-size: 13px;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    letter-spacing: .03em;
    color: #fff;
    background-color: #aaa;
    box-sizing: border-box;
    height: 32px;
    line-height: 32px;
    padding: 0 18px;
    display: inline-block;
    margin: 0;
    transition: all 0.23s ease-in-out 0s;
}

#mc_embed_signup .button:hover {
background-color:#343a40; 
cursor:pointer;
}

#contact{
text-align:center;
}

#contact img {
	transition: all 0.23s ease-in-out 0s;
	margin-bottom: 10px;
	padding: 16px;   
}


#contact img:hover{
opacity: 0.5;
cursor:pointer;
}

