#site-nav {
  background-color: $grey;
  border: none;
  color: $sky-blue;
  min-height: 65px;
  height: 65px;
  justify-content: space-between;
  padding: 0 15px;
  z-index: 500;
  .navbar-brand {
    color: $sky-blue;
    display: flex;
    align-items: center;
    > img {
      width: auto;
      height: 55px;
      margin-right: 15px;
      @include image-rendering;
    }
  }
  #water-navbar-collapse {
    text-align: right;
    .li-divide {
      display: none;
    }
    @media (max-width: 575px) {
      .navbar-nav {
        display: inline-block;
        width: 56px;
      }
    }
    @media (min-width: 576px) {
      flex-grow: 0;
      .li-divide {
        display: inline-block;
        margin: 0 3px;
      }
    }
  }
}