// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.flex-grow-full {
  @media (min-width: 768px) {
    flex-grow: 1;   
  }
 }

#home-login {
  padding: 50px;
  form {
    text-align: left;
  }
}

#home-map {
  min-height: 350px;
  position: relative;
  .overlay {
    background-color: rgba(150,155,149, 0.85);
    margin-top: 5%;
    margin-left: 5%;
    width: 90%;
    height: 70%;
    transition: all 0.5s ease-in-out;
    h1 {
      font-size: 3em;
      transition: all 0.5s ease-in-out;
      @media (min-width: 768px) {
        font-size: 5em;
      }
    }
    h2 {
      font-size: 1em;
    }
    .close {
      position: absolute;
      top: 0;
      right: 0;
      padding-top: 0;
    }

    &.collapsed {
      cursor: pointer;
      margin-top: 0;
      margin-left:0;
      width: 100px;
      height: auto;
      h1 {
        font-size: 1em;
      }
    }

  }
  #map {
    width: 100%;
    height: 100%;
  }
}

